.App {
    /* background-color: rgb(221, 221, 223); */
    background-color: #F0F0F6;
    min-height: 100vh;
}

.container2 {
    padding: 0 3em;
}
.App .leftSidebar {
    /* width: 252px; */
    /* height: 100px; */
    border-radius: 1.2rem;
}

.leftSidebar .profile-section .profile-image img {
    height: 150px;
    width: 150px;
}


.media-flex > div {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFB400;
    padding: 5px;
    border-radius: 50%;
}

.progressBar {
    margin-top: 10px;
}

.home {
    background-image: url('./assets/homePage/profile-banner.jpg');
    background-repeat: no-repeat;
    background-position: right;
}

.home-heading{
    color: var(--Black, #2B2B2B);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 123.6%;     
}

.section-heading {
    color: var(--Black, #2B2B2B);
/* H2 - 32px */
/* font-family: Inter; */
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 123.6%; /* 39.552px */
text-transform: capitalize;
}

.service-card {
    width: 18em;
    height: 14em;
    flex-shrink: 0;    
}
.recom-card {
    width: 19.5em;
    height: 20.5em;
    flex-shrink: 0;    
}

.right-side::-webkit-scrollbar,.left-side::-webkit-scrollbar  {
    display: none;
}

.slick-dots {
   transform: translateY(30px);
}

.slick-dots li.slick-active button:before {
    color:#FFB400 !important;
    font-size: 10px;
   
}